
<h6>© 2012 All Rights Reserved, HOGJAW</h6>
<h5><%= link_to("Home", root_path) %> | 
<%= link_to("Our Music", our_music_path) %> | 
<%= link_to("History", history_path) %> |
<%= link_to("Photos", photos_path) %> |  
<%= link_to("Merchandise", merchandise_path) %> | 
<%= link_to("Tour Dates", tour_calendar_path) %> |
<%= link_to("Contact Us", contact_path) %> |
<%= link_to("Press", hogjaw_press_path) %></h5>